<form #f="ngForm" (ngSubmit)="onFilledForm(f)">
    
    <label for="bodyType">Escoge tu tipo de cuerpo  de las siguientes imágenes:</label>

    
    <div class="row form-group mt-5">
        <div class="col-md-3 ">
            <div class="custom-control custom-radio image-checkbox">
                <h3>Ectomorfo</h3>
                <input type="radio" class="custom-control-input" id="ck2a" name="bodyType" value="Ectomorfo" ngModel required>
                <label class="custom-control-label img-option" for="ck2a">
                    <img src="https://i.ibb.co/MGWW1pV/ectomorfo.jpg" alt="#" class="img-fluid" width="200px">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-radio image-checkbox">
                <h3>Mesomorfo:</h3>
                <input type="radio" class="custom-control-input" id="ck2b" name="bodyType" value="Mesomorfo" ngModel required>
                <label class="custom-control-label img-option" for="ck2b">
                    <img src="https://i.ibb.co/71LycGb/metomofo.jpg" alt="#" class="img-fluid" width="203px">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-radio image-checkbox">
                <h3>Endomorfo</h3>
                <input type="radio" class="custom-control-input " id="ck2c" name="bodyType" value="Endomorfo" ngModel required>
                <label class="custom-control-label img-option" for="ck2c">
                    
                    <img src="https://i.ibb.co/xS7yYdS/endomorfo.jpg" alt="#" class="img-fluid" width="200px">
                </label>
            </div>

    </div>

     </div>

    <div *ngIf="f.valid; else success">
        <p style="color: green;">Se han agregado los datos correctamente. </p>
    </div>
    <ng-template #success>
        <p style="color: red;">Para continuar necesitas agregar los datos. </p>
    </ng-template>

 
    
</form>
<div class="info-toggle mt-5 ml-3">
    <h3>Información adicional</h3>
    <p><b>Ectomorfo:</b> delgado, con poca grasa y poco músculo. Tienen problemas para ganar peso.</p>
    <p><b>Endomorfo:</b> mucha grasa y músculo, con una forma corporal más redonda que la de los ectomorfos. Ganan peso fácilmente.</p>    
    <p><b>Mesomorfo:</b> atlético y musculoso, estos individuos ganan y pierden peso fácilmente.</p>
</div>
<button  (click)="[onNextStep(), onFilledForm(f)]" [disabled]="!f.valid" class="form-continue-btn mt-0" type="button">
    {{ showButtonLabel() }}
  </button>
