<div class="wrapper d-flex align-items-stretch">
    <div class="sidebar">
      <app-side-menu></app-side-menu>
    </div>
    
        <div class="content p-4 p-md-5 pt-5">  

                <div class="text-center"> <h1>{{rutinaInfo['nombre']}}</h1></div>
            <div class="container">
                 <app-modal-training [equipos]=equipos></app-modal-training>
                 <div class="row">
                    <div class="col-6" *ngFor="let item of ejercicios">
                      <app-card-ejercicios-rutinas

                      [size]=""
                      [foto]=item.foto
                      [nombre]=item.nombre
                      [equipo]=item.equipo
                      [principal]=item.partePrincipal
                      [tipo]=item.tipo
                      [descripcion]=item.descripcion
                      [secundaria]=item.parteSecundaria
                      [tipo]=item.tipo
                      [repeticiones]=item.repeticiones
                      [series]=item.series
                      [tiempo]=item.tiempo
                      [terciaria]=item.terciaria
                      >

                      </app-card-ejercicios-rutinas>
                    </div>
                    <div class="col-6-lg">
                      <app-modal-routine-eval [routineId]=id></app-modal-routine-eval>
                      <span style="margin-right: 4.0vh;"></span>
                      <button class="btn btn-warning btn-outline" (click)="sendRoutine()" type="button">Enviar a correo</button>
                      <span style="margin-right: 4.0vh;"></span>
                      <button class="btn btn-danger" (click)="removeRoutine()">Eliminar</button>

                    </div>
    
                  </div>
            

        </div>
     
</div>