<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <h2>Iniciar Sesión</h2>
      <mat-form-field class="example-full-width">
        <label>
          <input type="email" matInput placeholder="Correo Electrónico" formControlName="email"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error>
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Ingresa un correo válido</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <label>
          <input type="password" matInput placeholder="Contraseña" formControlName="password"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error>
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Ingresa tu contraseña</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Iniciar Sesión</button>
      </div>
      <div class="button-row">
        <h4>¿Todavía no tienes cuenta?</h4>
      </div>
      <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/register']">Registrarse</a>
      </div>
    </form>
  </mat-card>
</div>