    <div class="{{size}}" style="float:left">
    <div class="card mb-2">
        <img class="card-img-top"
        src={{foto}} alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Nombre: {{nombre}}</h4>
        <h4 class="card-title">Equipo: {{equipo}}</h4>
        <p class="card-text">Descripcion: {{descripcion}}</p>
        <p class="card-text">Tipo: {{tipo}}</p>
        <p class="card-text">Parte Principal: {{principal}}</p>
        <p class="card-text">Parte Secundaria: {{secundaria}}</p>
        <p class="card-text">Parte Terciaria {{terciaria}}</p>
        <p class="card-text">Repeticiones: {{repeticiones}}</p>
        <p class="card-text">Series: {{series}}</p>
        <p class="card-text">Tiempo por ejercicio: {{tiempo}}</p>

        </div>
    </div>
    </div>

