<div class="card mb-2 mr-2" style="width: 18rem;">
    <div class="card-title">
        <strong>Nombre :</strong> <p>{{nombre}} </p>
        <strong>Equipo :</strong> <p> {{equipo}} </p>
    </div>
        <div class="card-body">
        <strong>Descripción :</strong> <p class="card-text"> {{descripcion}}</p>
        <strong>Tipo :</strong> <p class="card-text">{{tipo}}</p>
        <strong>Parte Principal :</strong> <p class="card-text"> {{principal}}</p>
        <strong>Parte Secundaria:</strong> <p class="card-text"> {{secundaria}}</p>
        <strong>Parte Terciaria :</strong> <p class="card-text"> {{terciaria}}</p>
        </div>
</div>
