<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MyGym</title>
  


</head>

<body>

  
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">Tecnológico de Monterrey</a>
      </div>
      <div class="contact-info d-flex align-items-right">
         <a href="mailto:contact@example.com">Laboratorio de aplicaciones web</a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">MyGym</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#doctors">Programadores</a></li>
          <div *ngIf="(auth.isAuthenticated$ | async) === false"> 
            <app-login-button></app-login-button>
            </div>
           <div *ngIf="(auth.isAuthenticated$ | async) === true"> 
               <app-logout-button></app-logout-button>
            </div>
          <li *ngIf="(auth.user$ | async) as user" > {{ profileJson }} </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      

    </div>
  </header>
  
  <section id="hero" class="d-flex align-items-center">
    <div class="container" id="fondo">
      <h1>MyGym!</h1>
      <h2>Una rutina hecha a tu medida y sin ningun costo</h2>
      <div *ngIf="(auth.isAuthenticated$ | async) === false"> 
        <app-login-button></app-login-button>
        </div>
    </div>
  </section>

  <main id="main">

    
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Porque MyGym?</h3>
              <p>
                Mygym crea rutinas especificas para tus necesidades, al ingresar información básica como peso, días de entreno y objetivo deseado
                MyGym creara una rutina especifica para ti
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <h4>En solo 4 pasos</h4>
                    <p>Solo dinos información básica y MyGym creara rutinas para ejercitar todo tu cuerpo</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <h4>Rutinas por niveles</h4>
                    <p>Nuestras rutinas estan hechas desde nivel principiante hasta avanzado</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Instrucciones faciles</h4>
                    <p>Cada rutina trae tiempo, foto y descripción por ejercicio</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- ======= Coders Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Coders</h2>
          <p>Nuestro equipo de programadores realizó este proyecto con mucho empeño y dedicación</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../assets/oscar.jfif" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Oscar Contreras Palacios</h4>
                <span>DevOps/SCRUM master</span>
                <p>Encargado de la arquitectura y montaje del proyecto</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../assets/bicho.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Manuel Ortiz</h4>
                <span>Fullstack/Frontend</span>
                <p>Especializado en componentes visuales</p>
              </div>
            </div>
          </div>

          
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../assets/arturo.PNG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Arturo Miranda</h4>
                <span>Fullstack/Backend</span>
                <p>Encargado de la lógica de negocio y su implementación</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../assets/akio.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Akio Olvera</h4>
                <span>Intern</span>
                <p>Aun no entendemos porque le pagamos, ya tiró 3 veces la aplicación</p>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Doctors Section -->



  </main><!-- End #main -->


</body>

</html>
