* {
    font-family: "Rockwell" /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
}

.wrapper {
    width: 100%;
    
}

.content{
    margin-left: 28vh;
}

