* {
    font-family: "Rockwell" /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    color: #ffffff;
    background-color: #fafafa;
    height: 100%;
}


