.wrapper {
    width: 100%;   
}
.content{
    width: 100%;
    margin-left: 28vh;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #2962ffec;
    color: white;
  }