
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rutina GAP</mat-card-title>
      <mat-card-subtitle>Gluteo, Abdomen y Pierna</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [ngClass]="'imageOfCard'"  src="../../../assets/gym_3.jpg" alt="Foto Chica Fuerte">
    <mat-card-content>
      <p>
        Rutina enfocada en el aumento de masa muscular en Gluteo, Abdomen y Pierna. Se recomienda empezar con pesos de 5kg.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="button-18" role="button" mat-button>Empezemos</button>
      </mat-card-actions>
  </mat-card>