<div class="container">
    <div class="main-body ">
          <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <nav aria-label="breadcrumb" class="main-breadcrumb mb-5 text-center">
                <figcaption><h1><b>Mi Perfil</b></h1></figcaption>
              </nav>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bit.ly/3kTbBAy" class="img-fluid rounded-circle mx-auto d-block p-2" width="150px" >
                        <div class="mt-3">
                        <h4 style="text-transform:uppercase">{{ name }}</h4>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card mt-3">
                    
                </div>
                </div>
                <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Nombre</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ name }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Apellido</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ lastName }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Edad</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ age }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Tipo de cuerpo</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ body }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Días a la semana que voy al Gym</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ days }} 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Intensidad con la que se ejercita</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ intensity }} 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Horas al día que se va al Gym</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ hours }} 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Objetivo</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{ goal }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 edit-btn">
                        <button class="btn btn-info">Editar</button>
                        </div>
                    </div>
                    </div>
                </div>

                



                </div>
            </div>
          </div>

        </div>
    </div>