

<div class="wrapper d-flex align-items-stretch">
  <div class="sidebar">
    <app-side-menu></app-side-menu>
  </div>
  <div class="content p-4 p-md-5 pt-5">
  <div *ngIf="existeUsuario == 'No existe'" > 
      <app-profile>
      </app-profile> 
  </div>


  <div *ngIf="existeUsuario == 'Existe'" > 
    <h3>Rutina del Día</h3>
    <app-daily-routine></app-daily-routine>
    <h3>Rutina del Día</h3>
    <app-slidder></app-slidder>
    <h3>Rutina del Día</h3>
    <app-carrousel></app-carrousel>
  </div>
  </div>
</div>