

<div class="wrapper d-flex align-items-stretch">
  <div class="sidebar">
    <app-side-menu></app-side-menu>
  </div>
  <div class="content p-4 p-md-5 pt-5">
  <div *ngIf="existeUsuario == 'No existe'" > <app-create-profile></app-create-profile> </div>
  <div *ngIf="existeUsuario == 'Existe'" >
  
  
  <h1>Rutina por día</h1>
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
       <app-card 
       [size]=""
       [foto]=foto
       [titulo]=titulo
       [tiempo]=tiempo
       [descripcion]=descripcion
       [idRutina]=idRutina
       >
       </app-card>
      </div>
    <div class="col-2">
    </div>
  </div>
</div>

  <h1>Rutinas personalizadas</h1>
  <app-carrusel></app-carrusel>


  </div>
</div>
  
   
    </div>
