<nav class="sidebar">
    <div class="sidebar-header">
        <app-profile-info></app-profile-info>
    </div>
    <div class="sidebar-options mt-3 mb-3">
        
        <app-options></app-options>
        
    </div>



    <div class="sidebar-logut text-center">
        <div *ngIf="(auth.isAuthenticated$ | async) === false"> 
        <app-login-button></app-login-button>
        </div>
       <div *ngIf="(auth.isAuthenticated$ | async) === true"> 
           <app-logout-button></app-logout-button>
        </div>
    </div>
</nav>

