<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <h2>Regístrate</h2>
        <mat-form-field class="example-full-width">
          <label>
            <input type="email" matInput placeholder="Correo Electrónico" formControlName="email"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error>
            <span *ngIf="!registerForm.get('email').valid && !registerForm.get('email').touched">Ingresa tu correo electrónico</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <label>
            <input type="password" matInput placeholder="Contraseña" formControlName="password"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error>
            <span *ngIf="!registerForm.get('password').valid && !registerForm.get('password').touched">Ingresa una contraseña</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!registerForm.valid" mat-flat-button color="primary">Registrarse</button>
        </div>
        <div class="button-row">
          <h4>¿Ya te has registrado?</h4>
        </div>
        <div class="button-row">
          <a mat-flat-button color="primary" [routerLink]="['/login']">Iniciar Sesión</a>
        </div>
      </form>
    </mat-card>
  </div>