.form-continue-btn {
    color: white;
    background: #2962ff;
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    font-size: 1.15em;
    cursor: pointer;
    border: none !important;
    margin: 32px;

    &:disabled {
        background-color: red;
        opacity: 0.2;
        cursor: not-allowed !important;
    }
}

.completed-step-check {
    margin-right: 12px;
    color: #2962ff !important;
}

.step-content-label {
    margin-bottom: 16px;
}

.step-complete-btn {
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    border: none !important;
    background: #c9e6ff;
    display: flex;
    align-items: center;
}

.step-divider {
    height: 2px;
    background: #2962ff;
    flex: 1;
    margin: 0px 10px;
}

.step-current, .step-complete {
    background: #2962ff;
    color: white;
}

.step-incomplete {
    cursor: not-allowed;
    pointer-events: none;
}